# Node.js dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS-specific
.DS_Store

# IDEs
.vscode/
.idea/

# Test reports
reports/
coverage/

# Selenium/WebDriver binaries
drivers/